body {
  font-family: Arial;
  width: 250px;
  padding: 10px;
}

.bar {
  width: 100%;
  height: 12px;
  background: #ddd;
  border-radius: 6px;
  margin-top: 8px;
}

#progress {
  height: 12px;
  width: 0%;
  border-radius: 6px;
  transition: width 0.5s ease;
}
